In [1]:
import pandas as pd
from datasets import load_dataset
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

In [6]:
df.index.name='job_index'
df.index.dtype

dtype('int64')

In [18]:
df_usa=df[df['job_country']=='United States']
df_usa.reset_index(inplace=True)
df_usa.set_index('job_index',inplace=True)
df_usa.head(20)

                job_title_short  ...                                    job_type_skills
job_index                        ...
0          Senior Data Engineer  ...                                               None
3                 Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
5                 Data Engineer  ...  {'cloud': ['gcp'], 'programming': ['python', '...
6          Senior Data Engineer  ...  {'cloud': ['gcp', 'bigquery'], 'databases': ['...
9                Data Scientist  ...  {'analyst_tools': ['excel'], 'cloud': ['azure'...
11                Data Engineer  ...  {'analyst_tools': ['qlik'], 'programming': ['p...
13         Senior Data Engineer  ...  {'cloud': ['aws'], 'other': ['terraform'], 'pr...
17               Data Scientist  ...  {'analyst_tools': ['excel'], 'programming': ['...
26                Data Engineer  ...                                               None
27                Data Engineer  ...           {'programming': ['python', 'r', 'java']}
30         Senior Data Engineer  ...  {'cloud': ['redshift', 'snowflake', 'aws', 'az...
32               Data Scientist  ...  {'cloud': ['azure', 'databricks'], 'libraries'...
35                Data Engineer  ...  {'cloud': ['databricks', 'azure'], 'databases'...
36                 Data Analyst  ...                                               None
37                Data Engineer  ...  {'cloud': ['aws', 'gcp', 'azure'], 'libraries'...
39                Data Engineer  ...                 {'programming': ['sql', 'python']}
40               Data Scientist  ...                                               None
41               Data Scientist  ...  {'analyst_tools': ['tableau'], 'libraries': ['...
43         Senior Data Engineer  ...  {'databases': ['sql server'], 'programming': [...
51         Senior Data Engineer  ...  {'cloud': ['aws', 'databricks'], 'libraries': ...

[20 rows x 17 columns]